<!-- ADD NEW -->
<button type="button" class="btn btn-success position-fixed rounded-circle" data-toggle="modal"
    data-target="#staticBackdrop" style="bottom: 8px; right:8px; z-index: 1;"><i class="fas fa-plus"></i></button>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- New User -->
                <form action="/addUser" method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <label>Access Rights</label>
                        <select class="form-control" name="accessRights" required>
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- GENERATE CARDS -->
    <% if (result.length > 0) { %>
    <% var index = 0; %>
    <% for (let results of result) { %>
    <% index++ %>
    <section id="accordion" class="border rounded shadow mt-4 m-2 bg-transparent rounded card mx-auto"
        name="<%= results.Name %> <%= results.Surname %>">
        <div class="card" style="width: 288px;">

            <div class="card-body">
                </strong> <%= results.Name %> <%= results.Surname %>
                <br>
                <strong>Author ID:</strong> <%= results.AuthorID %>
            </div>



            <!--1-->
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne-<%= index %>"
                        aria-expanded="false" aria-controls="collapseOne">
                        Information
                    </button>
                </h5>
            </div>
            <div id="collapseOne-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <strong>Nationality:</strong> <%= results.Nationality %>
                    <br>
                    <strong>Date of Birth:</strong> <%= results.BirthYear %>
                    <br>
                    <strong>Date of Death:</strong> <%= results.DeathYear %>
                </div>
            </div>

            <div class="btn-group" id="headingOne">
                <button class="btn btn-primary w-50" data-toggle="collapse" data-target="#collapseEdit-<%= index %>"
                    aria-expanded="false" aria-controls="collapseOne">
                    EDIT
                </button>
                <button class="btn btn-danger w-50" data-toggle="collapse" data-target="#collapseDelete-<%= index %>"
                    aria-expanded="false" aria-controls="collapseOne">
                    DELETE
                </button>
            </div>
            <div id="collapseEdit-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form class="form-group" onsubmit="return confirm('Confirm Action?');">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" required>
                        </div>

                        <button name="update" type="submit" formaction="/updateUser" formmethod="POST"
                            class="btn btn-primary w-50" value="<%= results.AuthorID %>">Edit</button>

                    </form>
                </div>
            </div>
            <div id="collapseDelete-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form class="btn-group" onsubmit="return confirm('Confirm Action?');">
                        <button name="delete" type="submit" formaction="/deleteUser" formmethod="POST"
                            class="btn btn-danger w-50" value="<%= results.AuthorID %>">Confirm Delete Author:
                            <%= results.AuthorID %></button>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <% } %>
    <% } %>