<button type="button" class="btn btn-success position-fixed rounded-circle"
    style="bottom: 8px; right:8px; z-index: 1;"><i class="fas fa-plus"></i></button>

<form class="form-inline mx-auto mt-4" style="max-width: max-content;" action="/books" method="POST">
    <input class="form-control mr-sm-2" type="search" onkeyup="myFunction()" placeholder="Search" aria-label="Search"
        id="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="row" id="cardContainer">
    <% if (result.length > 0) { %>
    <% var index = 0; %>
    <% for (let results of result) { %>
    <% index++ %>
    <section id="accordion" class="border rounded shadow mt-4 m-2 bg-transparent rounded card mx-auto"
        name="<%= results.BookTitle %>">
        <div class="card" style="width: 288px;">
            <img class=" card-img-top" src="./covers/9780451530578.jpg" alt='Book  Cover'
                style="object-fit: cover; height: auto;" />

            <div class="card-body">
                <strong>Book ID:</strong> <%= results.BookID %>
            </div>

            <!--1-->
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne-<%= index %>"
                        aria-expanded="false" aria-controls="collapseOne">
                        Information
                    </button>
                </h5>
            </div>
            <div id="collapseOne-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <strong>Book Title:</strong> <%= results.BookTitle %>
                    <strong>Original Title:</strong> <%= results.OriginalTitle %>
                    <br>
                    <strong>Year Of Publication:</strong> <%= results.YearofPublication %>
                    <br>
                    <strong>Genre:</strong> <%= results.Genre %>
                    <br>
                    <strong>Original Language:</strong> <%= results.LanguageWritten %>
                    <br>
                    <strong>Millions Sold:</strong> <%= results.MillionsSold %>
                    <a href="<%= results.PlotSource %>" class="btn btn-primary center">See More</a>
                </div>
            </div>

            <!--2-->
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo-<%= index %>"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Plot Summary
                    </button>
                </h5>
            </div>
            <div id="collapseTwo-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <%= results.Plot %>
                </div>
            </div>

            <!--3-->
            <div class="btn-group">
                <a class="btn btn-primary w-50">Edit</a>
                <a class="btn btn-danger w-50">Delete</a>
            </div>

        </div>
    </section>
    <% } %>
    <% } %>

</div>

<script>
    function myFunction() {

        let input = document.getElementById('search').value.toUpperCase();
        let bookCard = document.getElementsByTagName('section');

        for (i = 0; i < bookCard.length; i++) {

            txtValue = bookCard[i].getAttribute('name').toUpperCase()

            if (txtValue.indexOf(input) > -1) {
                bookCard[i].style.display = "";
                console.log(`Showing: ${bookCard[i].getAttribute('name')}`)
            } else {
                bookCard[i].style.display = "none";
                console.log(`Hiding: ${bookCard[i].getAttribute('name')}`)
            }
        }

    }
</script>