<%- include ('partials/newBook') %>


<!-- GENERATE CARDS -->
    <% if (result.length > 0) { %>
    <% var index = 0; %>
    <% for (let results of result) { %>
    <% index++ %>
    <section id="accordion" class="border rounded shadow mt-4 m-2 bg-transparent rounded card mx-auto"
        name="<%= results.BookTitle %>">
        <div class="card" style="width: 288px;">
            <img class=" card-img-top" src="<%= results.coverImagePath %>" alt='Book  Cover'
                style="object-fit: cover; height: 450px;" />
            <div class="card-body">
                <strong>Book ID:</strong> <%= results.BookID %>
            </div>

            <!--1-->
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne-<%= index %>"
                        aria-expanded="false" aria-controls="collapseOne">
                        Information
                    </button>
                </h5>
            </div>
            <div id="collapseOne-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <strong>Book Title:</strong> <%= results.BookTitle %>
                    <strong>Original Title:</strong> <%= results.OriginalTitle %>
                    <br>
                    <strong>Year Of Publication:</strong> <%= results.YearofPublication %>
                    <br>
                    <strong>Genre:</strong> <%= results.Genre %>
                    <br>
                    <strong>Original Language:</strong> <%= results.LanguageWritten %>
                    <br>
                    <strong>Millions Sold:</strong> <%= results.MillionsSold %>
                    <a href="<%= results.PlotSource %>" class="btn btn-primary center">See More</a>
                </div>
            </div>

            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo-<%= index %>"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Plot Summary
                    </button>
                </h5>
            </div>
            <div id="collapseTwo-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <%= results.Plot %>
                </div>
            </div>

            <!-- EDIT / DELETE BUTTONS -->
            <div class="btn-group" id="headingOne">
                <button class="btn btn-primary w-50" data-toggle="collapse" data-target="#collapseEdit-<%= index %>"
                    aria-expanded="false" aria-controls="collapseOne">
                    EDIT
                </button>
                <button class="btn btn-danger w-50" data-toggle="collapse" data-target="#collapseDelete-<%= index %>"
                    aria-expanded="false" aria-controls="collapseOne">
                    DELETE
                </button>
            </div>

            <!-- EDIT -->
            <div id="collapseEdit-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form class="form-group" onsubmit="return confirm('Confirm Action?');">
                        <div class="form-group">
                            <label>Book Title</label>
                            <input type="text" class="form-control" name="BookTitle" required value="<%= results.BookTitle %>">
                        </div>
                        <div class="form-group">
                            <label>Original Title</label>
                            <input type="text" class="form-control" name="OriginalTitle" required value="<%= results.OriginalTitle %>">
                        </div>
                        <div class="form-group">
                            <label>Year of Publication</label>
                            <input type="number" maxlength="4" class="form-control" name="username" required value="<%= results.YearofPublication %>">
                        </div>
                        <div class="form-group">
                            <label>Genre</label>
                            <input type="text" class="form-control" name="genre" required value="<%= results.Genre %>">
                        </div>
                        <div class="form-group">
                            <label>Original Language</label>
                            <input type="text" class="form-control" name="originalLanguage" required value="<%= results.LanguageWritten %>">
                        </div>
                        <div class="form-group">
                            <label>Millions Sold</label>
                            <input type="numer" class="form-control" name="millionsSold" required value="<%= results.MillionsSold %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Plot Source</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="PlotSource" required><%= results.PlotSource %>
                            </textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Plot Summary</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="Plot" required><%= results.Plot %>
                            </textarea>
                          </div>

                        <button name="update" type="submit" formaction="/updateUser" formmethod="POST"
                            class="btn btn-primary w-50" value="<%= results.BookID %>">Edit</button>

                    </form>
                </div>
            </div>

            <!-- DELETE -->
            <div id="collapseDelete-<%= index %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form class="btn-group" onsubmit="return confirm('Confirm Action?');">
                        <button 
                        name="delete" 
                        type="submit" 
                        formaction="/deleteUser" 
                        formmethod="POST"
                        class="btn btn-danger w-50" 
                        value="<%= results.BookID %>">Confirm Delete Book:
                            <%= results.BookID %></button>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <% } %>
    <% } %>